.interests-filter {
  position: fixed;
  top: 0;
  background: var(--header-background-color);
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-top: var(--header-height);
  width: calc(100% - var(--sidebar-width));
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: var(--header-height);
    padding: 0 10px;
  }
  .interests-filter__btn {
    max-width: 220px;
    min-width: 50px;
    height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: none;

    border-radius: 16px;
    padding: 0 12px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #030303;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  .selected {
    color: #FFFFFF;
    background: #000000;
    &:hover {
      background: #000000;
    }
  }
  &__next {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 106px;
    height: 56px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 2000;
    top: 0;
    right: 0;
    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      background: #FFFFFF;
      input {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.interests-filter__min {
  width: calc(100% - var(--sidebar-width-min));
}

@media (min-width:792px) and (max-width:1311px){

  .interests-filter {
    width: calc(100% - var(--sidebar-width-min));
  }
}

@media (max-width:792px) {
  .interests-filter {
    width: 100%;
  }
}
