<div class="sidebar" [ngClass]="{'sidebar__min': sidebarMin}">
  <div class="sidebar__content">
    <div class="guide__section1">
      <a routerLink="" class="guide__home btn" routerLinkActive="active">
        <div class="guide__home_img image"></div>
        <span>Главная</span>
      </a>
      <a class="guide__navigator btn" href="#">
        <div class="guide__navigator_img image"></div>
        <span>Навигатор</span>
      </a>
      <a class="guide__subscriptions btn" href="#">
        <div class="guide__subscriptions_img image"></div>
        <span>Подписки</span>
      </a>
    </div>
    <div class="guide__section2">
      <a class="guide__library btn" href="#">
        <div class="guide__library_img image"></div>
        <span>Библиотека</span>
      </a>
      <a class="guide__history btn" href="#">
        <div class="guide__history_img image"></div>
        <span>История</span>
      </a>
    </div>
    <div class="guide__section3">
      <p>Вы сможете ставить отметки "Нравится", писать комментарии и подписываться на каналы.</p>
      <a href="#" class="btn__log_in">
        <img src="assets/icons/log_in.svg" alt="log in">
        <span>войти</span>
      </a>
    </div>
    <div class="guide__section4">
      <h3>Лучшее на YouTube</h3>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/music.jpg" alt="music">
        <span>Музыка</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/sport.jpg" alt="sport">
        <span>Спорт</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/video_games.jpg" alt="video_games">
        <span>Видеоигры</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/films.jpg" alt="films">
        <span>Фильмы</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/news.jpg" alt="news">
        <span>Новости</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/broadcasts.jpg" alt="broadcasts">
        <span>Трансляции</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/youtube.jpg" alt="centre">
        <span>В центре внимания</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/panoramic_video.jpg" alt="panoramic_video">
        <span>Панорамные видео</span>
      </a>
    </div>
    <div class="guide__section5">
      <a class="btn" href="#">
        <img class="image" src="assets/icons/plus.svg" alt="music">
        <span>Каталог каналов</span>
      </a>
    </div>
    <div class="guide__section6">
      <h3>Другие возможности</h3>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/premium.svg" alt="premium">
        <span>YouTube Premium</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/broadcasts.svg" alt="broadcasts">
        <span>Трансляции</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/gear.svg" alt="settings">
        <span>Настройки</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/flag.svg" alt="flag">
        <span>Жалобы</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/question.svg" alt="question">
        <span>Справка</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/review.svg" alt="review">
        <span>Отправить отзыв</span>
      </a>
    </div>
    <div class="guide__section7">
      <div class="guide__section7_link">
        <a href="#">О сервисе</a>
        <a href="#">Прессе</a>
        <a href="#">Авторские права</a>
        <a href="#">Связаться с нами</a>
      </div>
      <div class="guide__section7_link">
        <a href="#">Условия использования</a>
        <a href="#">Правила и безопасность</a>
        <a href="#">Как работает YouTube</a>
      </div>
      <div class="copyright">© 2022 Google LLC</div>
    </div>
  </div>
</div>
