<div class="sidebar" [ngClass]="{'sidebar__min': sidebarMin}">
  <div class="sidebar__content">
    <div class="guide__section1">
      <a routerLink="" class="guide__home btn" routerLinkActive="active">
        <div class="guide__home_img image" title="Главная"></div>
        <span title="Главная">Главная</span>
      </a>
      <a class="guide__navigator btn" href="#">
        <div class="guide__navigator_img image" title="Навигатор"></div>
        <span title="Навигатор">Навигатор</span>
      </a>
      <a class="guide__subscriptions btn" href="#">
        <div class="guide__subscriptions_img image" title="Подписки"></div>
        <span title="Подписки">Подписки</span>
      </a>
    </div>
    <div class="guide__section2">
      <a class="guide__library btn" href="#">
        <div class="guide__library_img image" title="Библиотека"></div>
        <span title="Библиотека">Библиотека</span>
      </a>
      <a class="guide__history btn" href="#">
        <div class="guide__history_img image" title="История"></div>
        <span title="История">История</span>
      </a>
    </div>
    <div class="guide__section3">
      <p>Вы сможете ставить отметки "Нравится", писать комментарии и подписываться на каналы.</p>
      <a href="#" class="btn__log_in">
        <img src="assets/icons/log_in.svg" alt="log in">
        <span>войти</span>
      </a>
    </div>
    <div class="guide__section4">
      <h3>Лучшее на YouTube</h3>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/music.jpg" title="Музыка" alt="music">
        <span title="Музыка">Музыка</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/sport.jpg" title="Спорт" alt="sport">
        <span title="Спорт">Спорт</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/video_games.jpg" title="Видеоигры" alt="video_games">
        <span title="Видеоигры">Видеоигры</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/films.jpg" title="Фильмы" alt="films">
        <span title="Фильмы">Фильмы</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/news.jpg" title="Новости" alt="news">
        <span title="Новости">Новости</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/broadcasts.jpg" title="Трансляции" alt="broadcasts">
        <span title="Трансляции">Трансляции</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/youtube.jpg" title="В центре внимания" alt="centre">
        <span title="В центре внимания">В центре внимания</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/panoramic_video.jpg" title="Панорамные видео" alt="panoramic_video">
        <span title="Панорамные видео">Панорамные видео</span>
      </a>
    </div>
    <div class="guide__section5">
      <a class="btn" href="#">
        <img class="image" src="assets/icons/plus.svg" title="Каталог каналов" alt="music">
        <span title="Каталог каналов">Каталог каналов</span>
      </a>
    </div>
    <div class="guide__section6">
      <h3>Другие возможности</h3>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/premium.svg" title="YouTube Premium" alt="premium">
        <span title="YouTube Premium">YouTube Premium</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/broadcasts.svg" title="Трансляции" alt="broadcasts">
        <span title="Трансляции">Трансляции</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/gear.svg" title="Настройки" alt="settings">
        <span title="Настройки">Настройки</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/flag.svg" title="Жалобы" alt="flag">
        <span title="Жалобы">Жалобы</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/question.svg" title="Справка" alt="question">
        <span title="Справка">Справка</span>
      </a>
      <a class="btn" href="#">
        <img class="image" src="assets/icons/review.svg" title="Отправить отзыв" alt="review">
        <span title="Отправить отзыв">Отправить отзыв</span>
      </a>
    </div>
    <div class="guide__section7">
      <div class="guide__section7_link">
        <a href="#">О сервисе</a>
        <a href="#">Прессе</a>
        <a href="#">Авторские права</a>
        <a href="#">Связаться с нами</a>
      </div>
      <div class="guide__section7_link">
        <a href="#">Условия использования</a>
        <a href="#">Правила и безопасность</a>
        <a href="#">Как работает YouTube</a>
      </div>
      <div class="copyright">© 2022 Google LLC</div>
    </div>
  </div>
</div>
