<div class="guide">
  <div class="guide__section1">
    <a class="guide__home btn" href="#">
      <div></div>
      <span>Главная</span>
    </a>
    <a class="guide__navigator btn" href="#">
      <div></div>
      <span>Навигатор</span>
    </a>
    <a class="guide__subscriptions btn" href="#">
      <div></div>
      <span>Подписки</span>
    </a>
  </div>
  <div class="guide__section2">
    <a class="guide__library btn" href="#">
      <div></div>
      <span>Библиотека</span>
    </a>
    <a class="guide__history btn" href="#">
      <div></div>
      <span>История</span>
    </a>
  </div>
  <div class="guide__section3">
    <p>Вы сможете ставить отметки "Нравится", писать комментарии и подписываться на каналы.</p>
    <a href="#" class="btn__log_in">
      <img src="../../../../assets/icons/log_in.svg" alt="log in">
      <span>войти</span>
    </a>
  </div>
</div>
