.interests-filter {
  position: fixed;
  top: 56px;
  left: 240px;
  z-index: 100;
  background: #FFFFFF;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 56px;
    padding: 0 60px;
  }
  button {
    height: 32px;
    border-radius: 16px;
    padding: 0 10px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #030303;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    &:active {
      color: #FFFFFF;
      background: #030303;
    }
  }
}
