<div class="search__container">
  <form class="search__container_input">
    <div class="magnifier" *ngIf="magnifier">
      <img src="assets/icons/magnifier.svg" alt="magnifier">
    </div>
    <input appFocus type="text" placeholder="Введите запрос" (focus)="showMagnifier()" (blur)="showMagnifier()">
    <a href="#">
      <div class="keyboard">
        <img src="assets/icons/tia.png" alt="keyboard">
      </div>
    </a>
  </form>
  <div class="btn__search" title="Введите запрос">
    <input type="image" src="assets/icons/magnifier.svg" alt="search">
  </div>
</div>
