@import "../../../../style/mixins";

.search__container {
  display: flex;
  width: 100%;
  &_input {
    display: flex;
    justify-content: space-between;
    width: 494px;
    height: 40px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px #eeeeee;
    .magnifier {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    input {
      padding-left: 10px;
      border: none;
      width: 80%;
      font-size: 16px;
      font-weight: 400;
      outline: none;
    }
    .keyboard {
      @include center;
      width: 40px;
      height: 40px;
    }
  }

  .btn__search {
    @include center;
    width: 64px;
    height: 40px;
    border: 1px solid #cccccc;
    background: #f9f9f9;
    input {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width:1050px){
  .search__container {
    &_input {
      width: 394px;
    }
  }
}

@media (max-width:900px){
  .search__container {
    &_input {
      width: 294px;
    }
  }
}

@media (max-width:800px){
  .search__container {
    &_input {
      width: 194px;
    }
  }
}

@media (max-width:700px){
  .search__container {
    &_input {
      width: 174px;
    }
  }
}

@media (max-width:670px){
  .search__container {
    &_input {
      display: none;
    }
  }
}
