<div class="header">
  <div class="header__content">
    <div class="header__nav">
      <div class="header__hamburger">
        <input type="image" src="assets/icons/hamburger.svg" alt="hamburger">
      </div>
      <div class="header__logo">
        <input type="image" src="assets/icons/logo.svg" alt="logo">
      </div>
    </div>
    <div class="header__search">
      <div class="box__search">
        <input type="text" placeholder="Введите запрос">
        <a href="#">
          <img src="assets/icons/tia.png" alt="keyboard">
        </a>
      </div>
      <div class="btn__search">
        <input type="image" src="assets/icons/magnifier.svg" alt="search">
      </div>
      <div class="btn__microphone">
        <input type="image" src="assets/icons/microphone.svg" alt="microphone">
      </div>
    </div>
    <div class="header__icons">
      <div class="icon__apps">
        <input type="image" src="assets/icons/apps.svg" alt="apps">
      </div>
      <div class="icon__settings">
        <input type="image" src="assets/icons/settings.svg" alt="settings">
      </div>
      <a class="btn__log_in" href="#">
        <img src="assets/icons/log_in.svg" alt="log in">
        <span>войти</span>
      </a>
    </div>
  </div>
</div>
<div class="content">
  <div class="left-sidebar">
    <div class="left-sidebar__content">
      <div class="guide__section1">
        <a class="guide__home btn" href="#">
          <img src="assets/icons/home.svg" alt="home">
          <span>Главная</span>
        </a>
        <a class="guide__navigator btn" href="#">
          <img src="assets/icons/navigator.svg" alt="navigator">
          <span>Навигатор</span>
        </a>
        <a class="guide__subscriptions btn" href="#">
          <img src="assets/icons/subscriptions.svg" alt="subscriptions">
          <span>Подписки</span>
        </a>
      </div>
      <div class="guide__section2">
        <a class="guide__library btn" href="#">
          <img src="assets/icons/library.svg" alt="library">
          <span>Библиотека</span>
        </a>
        <a class="guide__history btn" href="#">
          <img src="assets/icons/history.svg" alt="history">
          <span>История</span>
        </a>
      </div>
      <div class="guide__section3">
        <p>Вы сможете ставить отметки "Нравится", писать комментарии и подписываться на каналы.</p>
        <a href="#" class="btn__log_in">
          <img src="assets/icons/log_in.svg" alt="log in">
          <span>войти</span>
        </a>
      </div>
    </div>
  </div>
  <div class="interests-filter">
    <div class="container">
      <button>Все</button>
      <button>Мультфильмы</button>
      <button>Скетч-шоу</button>
      <button>Анимация</button>
      <button>Природа</button>
      <button>Туризм</button>
      <button>Кулинарные шоу</button>
      <button>Домашние животные</button>
      <button>Музыка</button>
      <button>Экшен и приключения</button>
      <button>Последние опубликованные видео</button>
      <button>Сейчас в эфире</button>
    </div>
    <div class="interests-filter__next">
      <div class="interests-filter__next_btn">
        <input type="image" src="assets/icons/next.svg" alt="next">
      </div>
    </div>
  </div>
  <div class="main">
    <a class="media" href="#">
      <div class="media__preview">
        <img src="assets/hq720.webp" alt="preview">
      </div>
      <div class="media__content">
        <div class="media__content_title">
          <div class="avatar">
            <img src="assets/avatar.jpg" alt="avatar">
          </div>
          <span class="media__content_header">Самый мощный компьютер 2021 / 2022. HYPERPC CONCEPT (3990X / 4x RTX 3090) 40000$</span>
        </div>
        <div>
          <div class="channel__name">HYPERPC</div>
          <div class="channel__info">
            <span>464 тыс. просмотров</span>
            <span>•</span>
            <span>8 дней назад</span>
          </div>
        </div>
      </div>
    </a>
    <a class="media" href="#">
      <div class="media__preview">
        <img src="assets/hq720.webp" alt="preview">
      </div>
      <div class="media__content">
        <div class="media__content_title">
          <div class="avatar">
            <img src="assets/avatar.jpg" alt="avatar">
          </div>
          <span class="media__content_header">Самый мощный компьютер 2021 / 2022. HYPERPC CONCEPT (3990X / 4x RTX 3090) 40000$</span>
        </div>
        <div>
          <div class="channel__name">HYPERPC</div>
          <div class="channel__info">
            <span>464 тыс. просмотров</span>
            <span>•</span>
            <span>8 дней назад</span>
          </div>
        </div>
      </div>
    </a>
    <a class="media" href="#">
      <div class="media__preview">
        <img src="assets/hq720.webp" alt="preview">
      </div>
      <div class="media__content">
        <div class="media__content_title">
          <div class="avatar">
            <img src="assets/avatar.jpg" alt="avatar">
          </div>
          <span class="media__content_header">Самый мощный компьютер 2021 / 2022. HYPERPC CONCEPT (3990X / 4x RTX 3090) 40000$</span>
        </div>
        <div>
          <div class="channel__name">HYPERPC</div>
          <div class="channel__info">
            <span>464 тыс. просмотров</span>
            <span>•</span>
            <span>8 дней назад</span>
          </div>
        </div>
      </div>
    </a>
    <a class="media" href="#">
      <div class="media__preview">
        <img src="assets/hq720.webp" alt="preview">
      </div>
      <div class="media__content">
        <div class="media__content_title">
          <div class="avatar">
            <img src="assets/avatar.jpg" alt="avatar">
          </div>
          <span class="media__content_header">Самый мощный компьютер 2021 / 2022. HYPERPC CONCEPT (3990X / 4x RTX 3090) 40000$</span>
        </div>
        <div>
          <div class="channel__name">HYPERPC</div>
          <div class="channel__info">
            <span>464 тыс. просмотров</span>
            <span>•</span>
            <span>8 дней назад</span>
          </div>
        </div>
      </div>
    </a>
    <a class="media" href="#">
      <div class="media__preview">
        <img src="assets/hq720.webp" alt="preview">
      </div>
      <div class="media__content">
        <div class="media__content_title">
          <div class="avatar">
            <img src="assets/avatar.jpg" alt="avatar">
          </div>
          <span class="media__content_header">Самый мощный компьютер 2021 / 2022. HYPERPC CONCEPT (3990X / 4x RTX 3090) 40000$</span>
        </div>
        <div>
          <div class="channel__name">HYPERPC</div>
          <div class="channel__info">
            <span>464 тыс. просмотров</span>
            <span>•</span>
            <span>8 дней назад</span>
          </div>
        </div>
      </div>
    </a>
    <a class="media" href="#">
      <div class="media__preview">
        <img src="assets/hq720.webp" alt="preview">
      </div>
      <div class="media__content">
        <div class="media__content_title">
          <div class="avatar">
            <img src="assets/avatar.jpg" alt="avatar">
          </div>
          <span class="media__content_header">Самый мощный компьютер 2021 / 2022. HYPERPC CONCEPT (3990X / 4x RTX 3090) 40000$</span>
        </div>
        <div>
          <div class="channel__name">HYPERPC</div>
          <div class="channel__info">
            <span>464 тыс. просмотров</span>
            <span>•</span>
            <span>8 дней назад</span>
          </div>
        </div>
      </div>
    </a>
    <a class="media" href="#">
      <div class="media__preview">
        <img src="assets/hq720.webp" alt="preview">
      </div>
      <div class="media__content">
        <div class="media__content_title">
          <div class="avatar">
            <img src="assets/avatar.jpg" alt="avatar">
          </div>
          <span class="media__content_header">Самый мощный компьютер 2021 / 2022. HYPERPC CONCEPT (3990X / 4x RTX 3090) 40000$</span>
        </div>
        <div>
          <div class="channel__name">HYPERPC</div>
          <div class="channel__info">
            <span>464 тыс. просмотров</span>
            <span>•</span>
            <span>8 дней назад</span>
          </div>
        </div>
      </div>
    </a>
    <a class="media" href="#">
      <div class="media__preview">
        <img src="assets/hq720.webp" alt="preview">
      </div>
      <div class="media__content">
        <div class="media__content_title">
          <div class="avatar">
            <img src="assets/avatar.jpg" alt="avatar">
          </div>
          <span class="media__content_header">Самый мощный компьютер 2021 / 2022. HYPERPC CONCEPT (3990X / 4x RTX 3090) 40000$</span>
        </div>
        <div>
          <div class="channel__name">HYPERPC</div>
          <div class="channel__info">
            <span>464 тыс. просмотров</span>
            <span>•</span>
            <span>8 дней назад</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
