<div class="interests-filter" [ngClass]="{'interests-filter__min': sidebarMin}">
  <div #container class="slider-container">
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Все</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Мультфильмы</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Скетч-шоу</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Анимация</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Природа</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Туризм</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Недвижимость</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Кулинарные шоу</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Домашние животные</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Музыка</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Экшен и приключения</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Последние опубликованные видео</a>
    <a #triggers (click)="activeBtn($event)" href="#" class="interests-filter__btn">Сейчас в эфире</a>
  </div>
  <div #prev class="interests-filter__prev">
    <div class="interests-filter__prev_btn" (click)="btnPrev()">
      <input type="image" src="assets/icons/previous.svg" alt="prev">
    </div>
  </div>
  <div #next class="interests-filter__next">
    <div class="interests-filter__next_btn" (click)="btnNext()">
      <input type="image" src="assets/icons/next.svg" alt="next">
    </div>
  </div>
</div>
