@import "../../../../style/mixins";

youtube-player {
  position: absolute;
  top: calc(var(--header-height) + var(--header-height));
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
}
