<div class="header">
  <div class="container">
    <div class="header__nav">
      <div class="header__hamburger">
        <input type="image" src="../../../../assets/icons/hamburger.svg" alt="hamburger">
      </div>
      <div class="header__logo">
        <input type="image" src="../../../../assets/icons/logo.svg" alt="logo">
      </div>
    </div>
    <div class="header__search">
      <div class="box__search">
        <input type="text" placeholder="Введите запрос">
        <a href="#">
          <img src="../../../../assets/icons/tia.png" alt="keyboard">
        </a>
      </div>
      <div class="btn__search">
        <input type="image" src="../../../../assets/icons/magnifier.svg" alt="search">
      </div>
      <div class="btn__microphone">
        <input type="image" src="../../../../assets/icons/microphone.svg" alt="microphone">
      </div>
    </div>
    <div class="header__icons">
      <div class="icon__apps">
        <input type="image" src="../../../../assets/icons/apps.svg" alt="apps">
      </div>
      <div class="icon__settings">
        <input type="image" src="../../../../assets/icons/settings.svg" alt="settings">
      </div>
      <a class="btn__log_in" href="#">
          <img src="../../../../assets/icons/log_in.svg" alt="log in">
          <span>войти</span>
      </a>
    </div>
  </div>
</div>
