<div class="header">
  <div class="header__content">
    <div class="header__nav">
      <div class="header__hamburger" (click)="showSidebarMin()">
        <input type="image" src="assets/icons/hamburger.svg" alt="hamburger">
      </div>
      <div class="header__logo" title="Главная страница YouTube">
        <input type="image" src="assets/icons/logo.svg" alt="logo">
      </div>
    </div>
    <div class="header__search">
      <form class="box__search">
        <input type="text" placeholder="Введите запрос">
        <a href="#">
          <div class="keyboard">
            <img src="assets/icons/tia.png" alt="keyboard">
          </div>
        </a>
      </form>
      <div class="btn__search">
        <input type="image" src="assets/icons/magnifier.svg" alt="search">
      </div>
      <div class="btn__microphone" (click)="showVoiceSearch($event)">
        <input type="image" src="assets/icons/microphone.svg" alt="microphone">
      </div>
    </div>
    <div class="header__menu">
      <div class="menu__apps" (click)="showMenuApps($event)">
        <input type="image" src="assets/icons/apps.svg" alt="apps" [hidden]="menuApps">
        <input type="image" src="assets/icons/apps_active.svg" alt="apps" [hidden]="!menuApps">
        <div class="menu__apps-nav" *ngIf="menuApps" (click)="$event.stopPropagation()">
          <div class="menu__apps-nav_tv">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/YouTube-TV.svg" alt="TV">
              <span>YouTube TV</span>
            </a>
          </div>
          <div class="menu__apps-nav_music">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/YouTube-Music.svg" alt="Music">
              <span>YouTube Music</span>
            </a>
          </div>
          <div class="menu__apps-nav_children">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/YouTube-Children.svg" alt="Children">
              <span>YouTube Детям</span>
            </a>
          </div>
          <div class="menu__apps-nav_musicians">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/YouTube-Musicians.svg" alt="Musicians">
              <span>YouTube для музыкантов</span>
            </a>
          </div>
        </div>
      </div>
      <div class="menu__settings" (click)="showMenuSettings($event)">
        <input type="image" src="assets/icons/settings.svg" alt="settings">
        <div class="menu__settings-nav" *ngIf="menuSettings" (click)="$event.stopPropagation()">
          <div class="menu__settings-nav_theme">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/moon.svg" alt="moon">
              <span>Тема: как на устройстве</span>
              <img class="arrow" src="assets/icons/arrow.svg" alt="arrow">
            </a>
          </div>
          <div class="menu__settings-nav_language">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/hieroglyph.svg" alt="hieroglyph">
              <span>Язык:</span>
              <img class="arrow" src="assets/icons/arrow.svg" alt="arrow">
            </a>
          </div>
          <div class="menu__settings-nav_country">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/globe.svg" alt="globe">
              <span>Страна:</span>
              <img class="arrow" src="assets/icons/arrow.svg" alt="arrow">
            </a>
          </div>
          <div class="menu__settings-nav_settings">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/gear.svg" alt="gear">
              <span>Настройки</span>
            </a>
          </div>
          <div class="menu__settings-nav_data">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/personal_data.svg" alt="personal data">
              <span>Личные данные на YouTube</span>
            </a>
          </div>
          <div class="menu__settings-nav_question">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/question.svg" alt="question">
              <span>Справка</span>
            </a>
          </div>
          <div class="menu__settings-nav_review">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/review.svg" alt="review">
              <span>Отправить отзыв</span>
            </a>
          </div>
          <div class="menu__settings-nav_keyboard">
            <a class="btn" href="#">
              <img class="image" src="assets/icons/keyboard.svg" alt="keyboard">
              <span>Быстрые клавиши</span>
            </a>
          </div>
          <div class="menu__settings-nav_safe-mode">
            <a class="btn" href="#">
              <span>Безопасный режим: </span>
              <img class="arrow" src="assets/icons/arrow.svg" alt="arrow">
            </a>
          </div>
        </div>
      </div>
      <a class="btn__log_in" href="#">
        <img src="assets/icons/log_in.svg" alt="log in">
        <span>войти</span>
      </a>
    </div>
  </div>
</div>

<div class="voice-search" *ngIf="voiceSearch" (click)="$event.stopPropagation()">
  <div class="voice-search__title">Голосовой поиск</div>
  <div class="voice-search__close" (click)="showVoiceSearch($event)">
    <input type="image" src="assets/icons/close.svg" alt="close">
  </div>
  <div class="voice-search__text">Чтобы пользоваться голосовым поиском, перейдите в настройки браузера и откройте приложению доступ к микрофону.</div>
  <div class="voice-search__microphone">
    <input type="image" src="assets/icons/microphone.svg" alt="microphone">
  </div>
</div>


