<div class="contents">
  <div class="container">
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
    <div><img src="../../../../assets/video.jpg" alt="video"></div>
  </div>
</div>
