@import "../../../../style/mixins";
.content {
  margin-top: calc(var(--header-height) + var(--header-height));
  margin-left: var(--sidebar-width);
  background-color: rgba(0, 0, 0, 0.02);
  width: calc(100% - var(--sidebar-width));
  overflow-x: hidden;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 24px -16px 0 24px;
  padding-right: 24px;
  width: 100%;
  box-sizing: border-box;

  .media {
    display: block;
    max-width: 360px;
    min-width: 320px;
    box-sizing: border-box;
    text-decoration: none;
    color: #030303;
    flex-basis: 320px;
    flex-grow: 1;
    z-index: 0;

    &:hover {
      .media__preview_img {
        display: none;
      }
      .media__preview_video {
        display: block;
      }
    }

    &__preview {
      position: relative;
      width: 100%;
      padding-top: 1%;
      &_img {
        width: 100%;
        display: block;
      }
      &_video {
        width: 100%;
        display: none;
      }
    }

    &__content {
      display: flex;
      padding-bottom: 40px;
      padding-right: 24px;

      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-top: 12px;
        margin-right: 12px;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .media-details {
        text-decoration: none;
        color: #030303;
        display: flex;
        flex-direction: column;

        .media__title {
          margin: 12px 0 4px 0;
          font-size: 16px;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        .channel__name {
          font-size: 14px;
          font-weight: 400;
          margin-top: 3px;
        }
        .channel__info {
          font-size: 14px;
          font-weight: 400;
          margin-top: 5px;
          span {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

.content__min {
  width: calc(100% - var(--sidebar-width-min));
  margin-left: var(--sidebar-width-min);
}

@media only screen and (min-width:720px) and (max-width:1631px){
  .main {
    .media {
      flex-basis: 240px;
      min-width: 240px;
      max-width: 320px;

      &__content {
        .media-details {
          .media__title {
            font-size: 14px;
          }
          .channel__name {
            font-size: 12px;
          }
          .channel__info {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width:1552px) and (max-width:1631px) {
  .media {
    width: calc(25% - 16px);
    flex-basis: auto;
    flex-grow: 0
  }
}

@media only screen and (min-width:2528px) {
  .media {
    width: calc(16.6% - 16px);
    flex-basis: auto;
    flex-grow: 0
  }
}

@media only screen and (min-width:392px) {
  .media {
    margin: 0 16px 0 0
  }
}

@media (min-width:792px) and (max-width:1311px){
  .main {
    .media {
      flex-basis: 240px;
      min-width: 240px;
      max-width: 320px;

      &__content {
        .media-details {
          .media__title {
            font-size: 13px;
          }
          .channel__name {
            font-size: 11px;
          }
          .channel__info {
            font-size: 11px;
          }
        }
      }
    }
  }
  .content {
    width: calc(100% - var(--sidebar-width-min));
    margin-left: var(--sidebar-width-min);
  }
}
@media (max-width:792px) {
  .content {
    margin-left: 0;
    width: 100%;
  }
}
