<div class="search__container">
  <form class="search__container_input" [formGroup]="form">
    <div class="magnifier" *ngIf="magnifier">
      <img src="../../../../../../assets/icons/magnifier.svg" alt="magnifier">
    </div>
    <input #search (keydown.enter)="getSearch(search.value)" appFocus (showMagnifier)="showMagnifier($event)" [magnifier]="magnifier" type="text" placeholder="Введите запрос" formControlName="request">
    <a href="#">
      <div class="keyboard">
        <img src="../../../../../../assets/icons/tia.png" alt="keyboard">
      </div>
    </a>
  </form>
  <button class="btn__search" title="Введите запрос" [disabled]="form.invalid">
    <input (click)="getSearch(search.value)" type="image" src="../../../../../../assets/icons/magnifier.svg" alt="search">
  </button>
</div>
